*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif;
}
body{
    background-color:antiquewhite ;
    
    
  
}
.container{
    width: 1040px;
    height: 600px;
    margin:auto 0;
    display: grid;
    background-color:hsl(235, 46%, 20%) ;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid;
    gap: 20px;
    /* margin: 200px 200px 100px 300px; */
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 30%;

   
    
   
    padding: 50px;
   
    
   
   
}

.item0{
    width: 250px;
    grid-row: 1/3;
    margin-bottom: 20px;
   background-color:hsl(235, 45%, 61%);
  text-align: center;

  border-radius: 10px;   
    
}
.jeremy{
   width: 50px;
   height: 50px;
   border: 2px solid white;
   border-radius: 25px;
   
}
.item0{
    color: azure;
}
h4{
    padding-bottom: 20px;
}

.profile{
    background-color: #444790;
   padding: 20px;
    border-radius: 10px ;
    margin-bottom: 20px;
}
.img1{
    
   border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    background-color: hsl(15, 100%, 70%);
    margin-bottom: 20px;

}



.img2{
  background-color:hsl(195, 74%, 62%) ;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.img3{
    border-radius: 10px;
    background-color: hsl(348, 100%, 68%);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

}
.img4{
    height: 80px;
     border-radius: 10px;
    background-color: hsl(145, 58%, 55%);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    
}
.img5{
    height: 80px;
    border-radius: 10px;
    background-color: hsl(264, 64%, 52%);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.img6{
    height: 80px;
    border-radius: 10px;
    background-color: hsl(43, 84%, 65%);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.input_text{
   display: flex;
   justify-content: flex-end;
   padding: 10px;
   
}
.item1,.item2,.item3{
   
     text-align: center;
    border-radius: 15px;
    
    height: 200px;
    background-color: hsl(235, 45%, 61%);
    color: azure;
 }
 
 
 .item4,.item5,.item6,.item7{
   text-align: center;
     border-radius: 15px;
     background-color: hsl(235, 45%, 61%);
     height: 200px;
     color: azure;
     
 
 }
 h5{
    text-align: start;
    padding-left: 10px;
     
   
 }



